modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
JWT_SECRET = "3f7aa9a08356b1c30f27a3f8cb89ad150bf83b57265af5e84e4b7c93f60101a4"
ENCRYPTION_KEY = "ENGyHFbsJd/KVHJKLihYY7GdJHS7IiZ4coaJgdCPHxc="
